* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

#app {
    width: 1000px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    width: 700px;
    margin: 0 auto;
    background-color: black;
    border-radius: 10px;
    color: white;
}

.img-student-container {
    width: 690px;
}

.img-student {
    border-radius: 10px;
}
